.Sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PreviewWrapper {
  display: flex; /* 画像を上下中央に表示 */
  height: 280px;
  margin: 30px 0 45px;
  background-color: var(--image-background-color);
}

.Preview {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.CropList {
  flex: 1 0 1px;
  overflow: auto;
}
